<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        </mapper>-->
<mapper namespace="com.ohd_project.ohd_project.mapper.DetectorMapper">
    <insert id="insertNewDetector" parameterType="map">
        INSERT INTO detector(threadID, roomNumber, category, source, state)
        VALUES (#{threadID}, #{roomNumber}, #{category}, #{source}, #{state})
    </insert>
</mapper>
