<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error Page</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6n1g5hCQTH5I1Jkt6bNXENb3U5UAW+nJ"
          crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 100px;
        }
        .lead1{
            font-size: 20px;
        }
        .jumbotron {
            background-color: #f19f73;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Error Page</h1>
        <p class="lead1">错误！！！</p>
        <p class="lead">There was an unexpected error.</p>
        <hr class="my-4">
        <p>Please try again later.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Go to Home</a>
    </div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="../static/js/jquery.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
        integrity="sha384-bO1grKLoOTol6W5F9AIlOs9q6ARPNtCTW1vpbzD4fiqFqFOE+adKXLFYFsp0q0Mr"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6n1g5hCQTH5I1Jkt6bNXENb3U5UAW+nJ"
        crossorigin="anonymous"></script>
</body>
</html>
